<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить Пользователя</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>

<div class="container"><!-- Text input-->

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->


    <form autocomplete="off" action="#" enctype="multipart/form-data" th:action="@{/admin/upload}"
          method="post" class="form-horizontal"
          role="form">
        <fieldset>
            <div class="form-group" align="center">
                <label class="col-md-3 control-label" for="file">Файл</label>
                <div class="col-md-6" align="center">
                    <input type="file" name="file" placeholder="Выбрать"
                           id = "file" class="form-control-file-md"/>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="save"></label>
                <div class="col-md-6" align="center">
                    <button id="save" name="save" class="btn btn-inverse">Сохранить</button>
                </div>
            </div>
            <h2 align="center"><span class="text-success" th:utext="${successMessage}"></span></h2>

        </fieldset>
    </form>

    <!--<form autocomplete="off" action="#" th:action="@{/admin/user/new}"-->
          <!--th:object="${newUser}" method="post" class="form-horizontal"-->
          <!--role="form">-->


    <!--<fieldset>-->

            <!--&lt;!&ndash; Form Name &ndash;&gt;-->
            <!--<legend align="center">Создать Нового Пользователя</legend>-->

            <!--&lt;!&ndash; Text input&ndash;&gt;-->
            <!--<div class="form-group">-->
                <!--<label class="col-md-3 control-label"  for="email">Почта</label>-->
                <!--<div class="col-md-6">-->
                    <!--<input id="email" name="email" th:field="*{email}" type="text" placeholder="" class="form-control input-md">-->

                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Text input&ndash;&gt;-->
            <!--<div class="form-group">-->
                <!--<label class="col-md-3 control-label" for="pass">Пароль</label>-->
                <!--<div class="col-md-6">-->
                    <!--<input id="pass" name="pass" th:field="*{password}"  type="text" placeholder="" class="form-control input-md">-->

                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Select Basic &ndash;&gt;-->
            <!--<div class="form-group">-->
                <!--<label class="col-md-3 control-label" for="role">Роль</label>-->
                <!--<div class="col-md-6">-->
                    <!--<select id="role" name="role" class="form-control">-->
                        <!--<option value="ADMIN">Администратор</option>-->
                        <!--<option value="CURATOR">Куратор</option>-->
                        <!--<option value="TEACHER">Преподаватель</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Button &ndash;&gt;-->
            <!--<div class="form-group">-->
                <!--<label class="col-md-3 control-label" for="save"></label>-->
                <!--<div class="col-md-6" align="center">-->
                    <!--<button id="save" name="save" class="btn btn-inverse">Сохранить</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--<h2 align="center"><span class="text-success" th:utext="${successMessage}"></span></h2>-->

        <!--</fieldset>-->
    <!--</form>-->

</div>
</body>
</html>