<!DOCTYPE html>
<html lang="en">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lesson</title>

    <!--/*/ <th:block th:include="headerinc :: head"></th:block> /*/-->

</head>
<body>

<div class="container" align="center">

    <form autocomplete="off" action="#"
          th:object="${lesson}" method="post" class="form-horizontal"
          role="form">
        <fieldset>
            <!-- Form Name -->
            <legend align="center">Урок</legend>

            <input disable id="id" name="textinput" th:field="*{id}" type="hidden" placeholder="" class="form-control input-md">
            <table class="table table-striped">
                <h4>Описание</h4>
                <tr>
                    <th>Поле</th>
                    <th>Содержание</th>
                </tr>
                <tr>
                    <td><label class="col-md-3 control-label" th:align="right" for="name" >Название</label></td>
                    <td><input disabled id="name" name="textinput" th:field="*{name}" type="text" placeholder="" class="form-control input-md"></td>
                </tr>

                <tr>
                    <td><label class="col-md-3 control-label" for="name" th:align="right">Цель</label></td>
                    <td><input disabled id="goal" name="textinput" th:field="*{goal}" type="text" placeholder="" class="form-control input-md"></td>
                </tr>

                <tr>
                    <td><label class="col-md-3 control-label" for="name" th:align="right">Требования у ученику</label></td>
                    <td><input disabled id="background" name="textinput" th:field="*{background}" type="text" placeholder="" class="form-control input-md"></td>
                </tr>

                <tr>
                    <td><label class="col-md-3 control-label" for="name" th:align="right">Временное ограничение</label></td>
                    <td><input disabled id="timeInterval" name="textinput" th:field="*{timeInterval}" type="text" placeholder="" class="form-control input-md"></td>
                </tr>


            </table>

            <table class="table table-striped">
                <h4>Материалы для преподавателя</h4>
                <tr>
                    <th>Ссылка</th>
                    <th>Опиание</th>
                </tr>
                <tr th:each="r, iStat : *{resources}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">

                    <td>
                        <input disabled th:field="*{resources[__${iStat.index}__].link}"
                               type="text" placeholder="" class="form-control input-md">
                    </td>

                    <td>
                        <input disabled th:field = "*{resources[__${iStat.index}__].description}"
                               type="text" placeholder="" class="form-control input-md">
                    </td>

                </tr>
            </table>

            <table class="table table-striped">
                <h4>Задания для преподавателя</h4>
                <tr th:each="r, iStat : *{teacherTasks}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
                    <td>
                        <input disabled th:field="*{teacherTasks[__${iStat.index}__].task}"
                               type="text" placeholder="" class="form-control input-md">
                    </td>
                </tr>
            </table>


            <table class="table table-striped">
                <h4>Заметки</h4>
                <tr th:each="r, iStat : *{authorsNotes}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
                    <td>
                        <input disabled th:field="*{authorsNotes[__${iStat.index}__].note}"
                               type="text" placeholder="" class="form-control input-md">
                    </td>
                </tr>
            </table>

            <table class="table table-striped">
                <h4>Вопросы для Обсуждения</h4>
                <tr th:each="r, iStat : *{reflectionPrompts}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
                    <td>
                        <input disabled th:field="*{reflectionPrompts[__${iStat.index}__].RPrompt}"
                               type="text" placeholder="" class="form-control input-md">
                    </td>
                </tr>
            </table>

            <table class="table table-striped">
                <h4>Способы оценивания</h4>
                <tr th:each="r, iStat : *{estimates}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
                    <td>
                        <input disabled th:field="*{estimates[__${iStat.index}__].estimate}"
                               type="text" placeholder="" class="form-control input-md">
                    </td>
                </tr>
            </table>

        </fieldset>
    </form>

</div>
</body>
</html>