<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gcats Home</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="jumbotron">
    <div class="row text-center">
        <div class="">
            <h2>Дом</h2>
        </div>
    </div>
    <div class="row text-center">
    </div>
</div>
</div>
</body>
</html>