<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lessons</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Уроки</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Цель</th>
                <th>Открыть</th>
                <th>Редактировать</th>
            </tr>
            <tr th:each="lesson : ${lessons}">
                <td th:text="${lesson.id}"><a href="/lesson//${lesson.id}">Id</a></td>
                <td th:text="${lesson.name}">Название</td>
                <td th:text="${lesson.description}">Описание</td>
                <td th:text="${lesson.goal}">price</td>
                <td><a th:href="${ '/lesson/' + lesson.id}">Просмотр</a></td>
                <td><a th:href="${'admin/lesson/edit/' + lesson.id}">Изменить</a></td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>