<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lessons</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Уроки</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Цель</th>
                <th></th>
            </tr>
            <tr th:each="lesson : ${lessons}">
                <td th:text="${lesson.id}"><a href="/lesson//${lesson.id}">Id</a></td>

                <td><a th:href="${ '/lesson/' + lesson.id}" th:text="${lesson.name}"></a></td>

                <td th:text="${lesson.name}">Название</td>

                <td th:if="${(user.role.equals('TEACHER') or user.role.equals('CURATOR'))
                        and lesson.author.login.equals(user.login)}">
                    <a th:href="${'/curator/lesson/edit/' + lesson.id}">Edit</a>
                </td>

                <td th:if="${(user.role.equals('TEACHER') or user.role.equals('CURATOR'))
                        and lesson.author.login.equals(user.login) != true}">
                    <a th:href="${ '/curator/lesson/remix/' + lesson.id}">Remix</a>
                </td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>