<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить Урок</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>

<script>

    function generateInput(listName, fieldName, divId, count, spanId){
        var val = '<div class="form-group" style="font-weight: bold;" alt="odd" title="odd">' +
            '<div class="col-md-2"></div><div class="col-md-8">'
            + '<input  type="text" placeholder="" class="form-control input-md" id="' +
            listName + count + '.' + fieldName + '" name = "' + listName +
            '[' + count + '].' + fieldName + '" value="">' + '</div>'+
            '<div class="col-md-2" align="left"><input type="button" class="button-less"'
           +  'onclick="less(' + count + ', \'' + divId + '\',\'' + spanId +  '\',\'' +
             listName + '\',\'' + fieldName + '\')" value="-"></div></div>';
        return val;
    }

    function less(index, divId, spanId, listName, fieldName) {

        var div = document.getElementById(divId);
        var count = document.getElementById(spanId);

        var values = [];
        for(i=0;i<parseInt(count.innerHTML);i++){
            if(i!=index){
                var inputId = listName + i + "." + fieldName;
                var input = document.getElementById(inputId).value;
                values.push(input);
            }
        }
        div.innerHTML = "";
        for(i=0;i<parseInt(count.innerHTML) - 1;i++)
            div.innerHTML += generateInput(listName, fieldName, divId, i, spanId);

        for(i=0;i<parseInt(count.innerHTML) - 1;i++)
            document.getElementById(listName + i + "." + fieldName).value = values[i];

        count.innerHTML = parseInt(count.innerHTML) - 1;
    }

    function more(divId, spanId, listName, fieldName) {

        var div = document.getElementById(divId);
        var count = document.getElementById(spanId);

        var values = [];
        for(i=0;i<parseInt(count.innerHTML);i++){
            var input = document.getElementById(listName + i + "." + fieldName).value;
            values.push(input);
        }

        var newInput = '<div class="form-group" style="font-weight: bold;" alt="odd" title="odd">' +
                        '<div class="col-md-2"></div><div class="col-md-8">'
                        + '<input  type="text" placeholder="" class="form-control input-md" id="' +
                        listName + count.innerHTML + '.' + fieldName + '" name = "' + listName +
                        '[' + count.innerHTML + '].' + fieldName + '" value="">' + '</div></div>';
        //alert(newInput);
        div.innerHTML = div.innerHTML + newInput;
        for(i=0;i<parseInt(count.innerHTML);i++){
            var input = document.getElementById(listName + i + "." + fieldName).value = values[i];
        }
        count.innerHTML = parseInt(count.innerHTML) + 1;
    }

    function moreResources(divId, spanId, listName, fieldName1, fieldName2) {

        var div = document.getElementById(divId);
        var count = document.getElementById(spanId);

        var values1 = [];
        var values2 = [];
        for(i=0;i<parseInt(count.innerHTML);i++){
            var input1 = document.getElementById(listName + i + "." + fieldName1).value;
            var input2 = document.getElementById(listName + i + "." + fieldName2).value;
            values1.push(input1);
            values2.push(input2);
        }

        var newInput = '<div class="form-group" style="font-weight: bold;" alt="odd" title="odd">' +
            '<div class="col-md-2"></div><div class="col-md-8">'
            + '<input  type="text" placeholder="" class="form-control input-md" id="' +
            listName + count.innerHTML + '.' + fieldName1 + '" name = "' + listName +
            '[' + count.innerHTML + '].' + fieldName1 + '" value="">' +
            '<span class="help-block">Ссылка на материал</span></div></div>' +

            '<div class="form-group" style="font-weight: bold;" alt="odd" title="odd">' +
            '<div class="col-md-2"></div><div class="col-md-8">'
            + '<input  type="text" placeholder="" class="form-control input-md" id="' +
            listName + count.innerHTML + '.' + fieldName2 + '" name = "' + listName +
            '[' + count.innerHTML + '].' + fieldName2 + '" value="">' +
            '<span class="help-block">Описание</span></div></div>';

        div.innerHTML+= newInput;
        for(i=0;i<parseInt(count.innerHTML);i++){
            document.getElementById(listName + i + "." + fieldName1).value = values1[i];
            document.getElementById(listName + i + "." + fieldName2).value = values2[i];
        }
        count.innerHTML = parseInt(count.innerHTML) + 1;
    }

</script>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <form autocomplete="off" action="#" th:action="@{/curator/lesson/new}"
      th:object="${lesson}" method="post" class="form-horizontal"
      role="form">
    <fieldset th:align="center">

        <input id="id" name="id" th:field="*{id}" type="hidden" placeholder="" class="form-control input-md">

        <div class="col-md-12" id="descriptions">
            <legend align="center">Создать урок</legend>
            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Название</label>
                <div class="col-md-6">
                    <input id="name" name="name" th:field="*{name}" type="text" placeholder="" class="form-control input-md" required="">
                    <span class="help-block">Введите название урока</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Цель</label>
                <div class="col-md-6">
                    <input id="goal" name="goal" th:field="*{goal}" type="text" placeholder="" class="form-control input-md" required="">
                    <span class="help-block">Введите цель урока</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Требования</label>
                <div class="col-md-6">
                    <input id="background" name="background" th:field="*{background}" type="text" placeholder="" class="form-control input-md" required="">
                    <span class="help-block">Введите требования к ученику</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Временное ограничение</label>
                <div class="col-md-6">
                    <input id="timeInterval" name="timeInterval" th:field="*{timeInterval}" type="text" placeholder="" class="form-control input-md" required="">
                    <span class="help-block">Введите требования к ученику</span>
                </div>
            </div>
        </div>

        <div class="col-md-12" id="materials">
            <div class="col-md-12" id="materialsInner">
                <h4 th:align="center">Материалы для преподавателя</h4>
                <div th:each="r, iStat : *{resources}"
                     th:style="${iStat.odd}? 'font-weight: bold;'"
                     th:alt-title="${iStat.even}? 'even' : 'odd'">

                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <input th:field="*{resources[__${iStat.index}__].link}" type="text"
                                   class="form-control input-md" >
                            <span class="help-block">Ссылка на материал</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <input th:field="*{resources[__${iStat.index}__].description}"
                                   type="text" class="form-control input-md" >
                            <span class="help-block">Описание</span>
                        </div>
                    </div>
                </div>
            </div>

            <span id = "resourceCount" th:text="*{resources.size()}" hidden></span>
            <div class="col-md-12" th:align="center">
                <input type="button" class="button-new"
                       onclick="moreResources('materialsInner', 'resourceCount',
                       'resources', 'link', 'description')" value="+">
            </div>
        </div>

        <div class="col-md-12" id="teacherTasks">
            <div class="col-md-12" id="teacherTasksInner">
                <h4 th:align="center">Задания для преподавателя</h4>

                <div class="form-group" th:each="r, iStat : *{teacherTasks}"
                     th:style="${iStat.odd}? 'font-weight: bold;'"
                     th:alt-title="${iStat.even}? 'even' : 'odd'">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <input th:field="*{teacherTasks[__${iStat.index}__].task}"
                               type="text" class="form-control input-md">
                    </div>
                </div>
            </div>
            <span id = "taskCount" th:text="*{teacherTasks.size()}" hidden></span>
            <div class="col-md-12" th:align="center">
                <input type="button" class="button-new"
                       onclick="more('teacherTasksInner', 'taskCount', 'teacherTasks', 'task')" value="+">
            </div>
        </div>


        <div class="col-md-12" id="notes">
            <div class="col-md-12" id="notesInner">
                <h4 th:align="center">Заметки</h4>
                <div th:each="r, iStat : *{authorsNotes}"
                     th:style="${iStat.odd}? 'font-weight: bold;'"
                     th:alt-title="${iStat.even}? 'even' : 'odd'">

                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <input th:field="*{authorsNotes[__${iStat.index}__].note}" type="text"
                                   placeholder="" class="form-control input-md" >

                        </div>
                    </div>
                </div>
            </div>

            <span id = "notesCount" th:text="*{authorsNotes.size()}" hidden></span>
            <div class="col-md-12" th:align="center">
                <input type="button" class="button-new"
                       onclick="more('notesInner', 'notesCount', 'authorsNotes', 'note')" value="+">
            </div>
        </div>

        <div class="col-md-12" id="questions">
            <div id="questionsInner" class="col-md-12">
                <h4 th:align="center">Вопросы для обсуждения</h4>
                <div th:each="r, iStat : *{authorsNotes}"
                     th:style="${iStat.odd}? 'font-weight: bold;'"
                     th:alt-title="${iStat.even}? 'even' : 'odd'">

                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <input th:field="*{reflectionPrompts[__${iStat.index}__].RPrompt}" type="text"
                                   placeholder="" class="form-control input-md" >

                        </div>
                    </div>
                </div>
            </div>

            <span id = "questionsCount" th:text="*{authorsNotes.size()}" hidden></span>
            <div class="col-md-12" th:align="center">
                <input type="button" class="button-new"
                       onclick="more('questionsInner', 'questionsCount', 'reflectionPrompts', 'RPrompt')" value="+">
            </div>

        </div>

        <div class="col-md-12" id="estimates">
            <h4 th:align="center">Способы оценивания</h4>
            <div class="col-md-12" id="estimatesInner">
            <div th:each="r, iStat : *{estimates}"
                 th:style="${iStat.odd}? 'font-weight: bold;'"
                 th:alt-title="${iStat.even}? 'even' : 'odd'">

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <input th:field="*{estimates[__${iStat.index}__].estimate}" type="text" placeholder=""
                               class="form-control input-md" >
                    </div>
                    <div class="col-md-2" align="left">
                        <input type="button" class="button-less"
                              th:onclick="|less(${iStat.index}, 'estimatesInner', 'estimatesCount', 'estimates', 'estimate')|" value="-">
                    </div>
                </div>
            </div>
            </div>

            <span id = "estimatesCount" th:text="*{estimates.size()}" hidden></span>
            <div class="col-md-12" th:align="center">
                <input type="button" class="button-new"
                       onclick="more('estimatesInner', 'estimatesCount', 'estimates', 'estimate')" value="+">
            </div>
        </div>

        <!-- Button -->
        <div class="col-md-12" th:align="center">
            <button class="button-save" name="singlebutton" >Сохранить</button>
        </div>

    </fieldset>
    <h2 align="center"><span class="text-success" th:utext="${successMessage}"></span></h2>
</form>
</div>
</body>
</html>