<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить Урок</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>

<script>

    function more(divId, spanId, listName, fieldName) {

        var div = document.getElementById(divId);
        var count = document.getElementById(spanId);
        alert();
        var newInput = '<input  type="text" placeholder="" class="form-control input-md" id="' +
            listName + count.innerHTML + '.' + fieldName + '" name = "' + listName +
            '[' + count.innerHTML + '].' + fieldName + '" value="">';
        alert(newInput);
        div.innerHTML = div.innerHTML + newInput;
        count.innerHTML = parseInt(count.innerHTML) + 1;
    }

</script>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <form autocomplete="off" action="#" th:action="@{/curator/lesson/new}"
      th:object="${lesson}" method="post" class="form-horizontal"
      role="form">
    <fieldset>
        <!-- Form Name -->
        <legend align="center">Урок</legend>

        <input id="id" name="textinput" th:field="*{id}" type="hidden" placeholder="" class="form-control input-md">
        <table class="table table-striped">
            <h4>Описание</h4>

            <tr>
                <td><label class="col-md-3 control-label" th:align="right" for="name" >Название</label></td>
                <td><input id="name" name="textinput" th:field="*{name}" type="text" placeholder="" class="form-control input-md"></td>
            </tr>

            <tr>
                <td><label class="col-md-3 control-label" for="name" th:align="right">Цель</label></td>
                <td><input id="goal" name="textinput" th:field="*{goal}" type="text" placeholder="" class="form-control input-md"></td>
            </tr>

            <tr>
                <td><label class="col-md-3 control-label" for="name" th:align="right">Требования у ученику</label></td>
                <td><input id="background" name="textinput" th:field="*{background}" type="text" placeholder="" class="form-control input-md"></td>
            </tr>

            <tr>
                <td><label class="col-md-3 control-label" for="name" th:align="right">Временное ограничение</label></td>
                <td><input id="timeInterval" name="textinput" th:field="*{timeInterval}" type="text" placeholder="" class="form-control input-md"></td>
            </tr>


        </table>

        <table class="table table-striped">
            <h4>Материалы для преподавателя</h4>
            <tr th:each="r, iStat : *{resources}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">

                <td>
                    <input th:field="*{resources[__${iStat.index}__].link}"
                            type="text" placeholder="" class="form-control input-md">
                </td>

                <td>
                    <input th:field = "*{resources[__${iStat.index}__].description}"
                           type="text" placeholder="" class="form-control input-md">
                </td>

            </tr>
        </table>

        <table class="table table-striped">
            <h4>Задания для преподавателя</h4>
            <tr th:each="r, iStat : *{teacherTasks}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
                <td>
                    <input th:field="*{teacherTasks[__${iStat.index}__].task}"
                           type="text" placeholder="" class="form-control input-md">
                </td>
            </tr>
        </table>


        <table class="table table-striped">
            <h4>Заметки</h4>
            <tr th:each="r, iStat : *{authorsNotes}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
                <td>
                    <input th:field="*{authorsNotes[__${iStat.index}__].note}"
                           type="text" placeholder="" class="form-control input-md">
                </td>
            </tr>
        </table>

        <div class="col-md-12" id="questions">
            <h4>Вопросы для Обсуждения</h4>
            <div class="col-md-12" th:each="r, iStat : *{reflectionPrompts}"
                 th:style="${iStat.odd}? 'font-weight: bold;'"
                 th:alt-title="${iStat.even}? 'even' : 'odd'">
            <input  th:field="*{reflectionPrompts[__${iStat.index}__].RPrompt}"
                           type="text" placeholder="" class="form-control input-md">
            </div>
        </div>
        <span id="questionCount" th:text="*{reflectionPrompts.size()}" hidden></span>
        <input type="button" onclick="more('questions', 'questionCount', 'reflectionPrompts', 'RPrompt')" value="more">
        <table class="table table-striped">
            <h4>Способы оценивания</h4>
            <tr th:each="r, iStat : *{estimates}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
                <td>
                    <input th:field="*{estimates[__${iStat.index}__].estimate}"
                           type="text" placeholder="" class="form-control input-md">
                </td>
            </tr>
        </table>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="save"></label>
            <div class="col-md-6" align="center">
                <button id="save" name="singlebutton" class="btn btn-inverse">Сохранить</button>
            </div>
        </div>

    </fieldset>
    <h2 align="center"><span class="text-success" th:utext="${successMessage}"></span></h2>
</form>
</div>
</body>
</html>