<!DOCTYPE html>
<html lang="en">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/main.css}" />

<head>
    <meta charset="UTF-8">
    <title>Lesson</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>

<div class="container" align="center">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <form autocomplete="off" action="#" th:action="@{/curator/lesson/new}"
          th:object="${lesson}" method="post" class="form-horizontal"
          role="form">
        <fieldset th:align="center">

            <input id="id" name="id" th:field="*{id}" type="hidden" placeholder="" class="form-control input-md">

            <div class="col-md-12" id="descriptions">
                <legend align="center">План</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Название</label>
                    <div class="col-md-6">
                        <input readonly="readonly"  id="name" name="name" th:field="*{name}" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Цель</label>
                    <div class="col-md-6">
                        <input readonly="readonly" id="goal" name="goal" th:field="*{goal}" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Требования</label>
                    <div class="col-md-6">
                        <input readonly="readonly" id="background" name="background" th:field="*{background}" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Временное ограничение</label>
                    <div class="col-md-6">
                        <input readonly="readonly" id="timeInterval" name="timeInterval" th:field="*{timeInterval}" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>
            </div>

            <div class="col-md-12" id="materials">
                <div class="col-md-12" id="materialsInner">
                    <h4 th:align="center">Материалы для преподавателя</h4>
                    <div th:each="r, iStat : *{resources}"
                         th:style="${iStat.odd}? 'font-weight: bold;'"
                         th:alt-title="${iStat.even}? 'even' : 'odd'">

                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <input  readonly="readonly" th:field="*{resources[__${iStat.index}__].link}" type="text"
                                       class="form-control input-md" >
                                <span class="help-block">Ссылка на материал</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <input readonly="readonly" th:field="*{resources[__${iStat.index}__].description}"
                                       type="text" class="form-control input-md" >
                                <span class="help-block">Описание</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" id="teacherTasks">
                <div class="col-md-12" id="teacherTasksInner">
                    <h4 th:align="center">Задания для преподавателя</h4>

                    <div class="form-group" th:each="r, iStat : *{teacherTasks}"
                         th:style="${iStat.odd}? 'font-weight: bold;'"
                         th:alt-title="${iStat.even}? 'even' : 'odd'">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <input readonly="readonly" th:field="*{teacherTasks[__${iStat.index}__].task}"
                                   type="text" class="form-control input-md">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" id="notes">
                <div class="col-md-12" id="notesInner">
                    <h4 th:align="center">Заметки</h4>
                    <div th:each="r, iStat : *{authorsNotes}"
                         th:style="${iStat.odd}? 'font-weight: bold;'"
                         th:alt-title="${iStat.even}? 'even' : 'odd'">

                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <input readonly="readonly" th:field="*{authorsNotes[__${iStat.index}__].note}" type="text"
                                       placeholder="" class="form-control input-md" >

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" id="questions">
                <div id="questionsInner" class="col-md-12">
                    <h4 th:align="center">Вопросы для обсуждения</h4>
                    <div th:each="r, iStat : *{authorsNotes}"
                         th:style="${iStat.odd}? 'font-weight: bold;'"
                         th:alt-title="${iStat.even}? 'even' : 'odd'">

                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <input readonly="readonly" th:field="*{reflectionPrompts[__${iStat.index}__].RPrompt}" type="text"
                                       placeholder="" class="form-control input-md" >

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" id="estimates">
                <div class="col-md-12" id="estimatesInner">
                    <h4 th:align="center">Способы оценивания</h4>
                    <div th:each="r, iStat : *{estimates}"
                         th:style="${iStat.odd}? 'font-weight: bold;'"
                         th:alt-title="${iStat.even}? 'even' : 'odd'">

                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <input readonly="readonly" th:field="*{estimates[__${iStat.index}__].estimate}" type="text" placeholder=""
                                       class="form-control input-md" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <a th:if="${(user.role.equals('TEACHER') or user.role.equals('CURATOR'))
    and lesson.author.login.equals(user.login)}"
       th:href="${'/curator/lesson/edit/' + lesson.id}">Редактировать</a>

    <a th:if="${(user.role.equals('TEACHER') or user.role.equals('CURATOR'))
            and lesson.author.login.equals(user.login) != true}"
       th:href="${'/curator/lesson/remix/' + lesson.id}">Редактировать</a>

    <a th:href="${'/pdf/' + lesson.id}" target="_blank">Скачать PDF</a>

    <div class="col-md-12">
    <form autocomplete="off" action="#" th:action="${'/lesson/comment/new/' + lesson.id}"
          th:object="${comment}" method="post" class="form-horizontal"
          role="form">

        <div class="col-md-12" id="addComment">

            <label class="col-md-3 control-label" for="description">Заммечание:</label>

            <!-- Textarea -->
            <div class="form-group">
                <div class="col-md-6">
                    <textarea class="form-control" id="description" name="textarea" th:field="*{text}" ></textarea>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="save"></label>
                <div class="col-md-6" align="center">
                    <button id="save" name="singlebutton" class="btn btn-inverse">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
    </div>

    <div class="col-md-12" id="comments">

        <div class="col-md-12" th:each="c : ${lesson.comments}">
            <div class="col-md-2"></div>
            <div class="col-md-8  comment">
                <div class="row" align="center">
                    <label class="col-md-4 control-label" for="name" th:text="${c.author.name}"></label>
                </div>
                <div class="row">
                    <p th:text="${c.text}"></p>
                </div>
                <div class="row">
                    <a th:if="${c.author.equals(user)}" th:href="${'/lesson/comment/delete/' + c.getId() +'/'+lesson.getId()}"
                       th:text="Удалить"></a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>