<!DOCTYPE html>
<html lang="en">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lesson</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>

<div class="container" align="center">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <form autocomplete="off" action="#"
          th:object="${lesson}" method="post" class="form-horizontal"
          role="form">
        <fieldset>
            <!-- Form Name -->
            <legend align="center">Урок</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="name" >Название</label>
                <div class="col-md-6">
                    <input id="name" name="textinput" th:field="*{name}" type="text"
                           placeholder="" class="form-control input-md" disabled>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="goal" >Цель</label>
                <div class="col-md-6">
                    <input id="goal" name="textinput" th:field="*{goal}"
                           type="text" placeholder="" class="form-control input-md" disabled>

                </div>
            </div>

            <!--&lt;!&ndash; Textarea &ndash;&gt;-->
            <!--<div class="form-group">-->
            <!--<label class="col-md-3 control-label" for="description">Описание</label>-->
            <!--<div class="col-md-6">-->
            <!--<textarea class="form-control" id="description" name="textarea" th:field="*{description}" ></textarea>-->
            <!--</div>-->
            <!--</div>-->

            <!-- Textarea -->
            <!--<div class="form-group">-->
                <!--<label class="col-md-3 control-label" for="text">Текст</label>-->
                <!--<div class="col-md-6">-->
                    <!--<textarea class="form-control" th:field="*{text}"-->
                              <!--id="text" name="textarea" disabled></textarea>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Text input&ndash;&gt;-->
            <!--<div class="form-group">-->
            <!--<label class="col-md-3 control-label" for="author">Автор</label>-->
            <!--<div class="col-md-6">-->
            <!--<input id="author" name="textinput" th:field="*{author}" type="text" placeholder="" class="form-control input-md">-->

            <!--</div>-->
            <!--</div>-->

        </fieldset>
    </form>

    <a th:if="${user.role.equals('TEACHER') or user.role.equals('CURATOR')}"
       th:href="${'/curator/lesson/edit/' + lesson.id}">Редактировать</a>

    <a th:href="${'/pdf/' + lesson.id}" target="_blank">Скачать PDF</a>

    <form autocomplete="off" action="#" th:action="${'/lesson/comment/new/' + lesson.id}"
          th:object="${comment}" method="post" class="form-horizontal"
          role="form">
        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="description">Заммечание:</label>
            <div class="col-md-6">
                <textarea class="form-control" id="description" name="textarea" th:field="*{text}" ></textarea>
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="save"></label>
            <div class="col-md-6" align="center">
                <button id="save" name="singlebutton" class="btn btn-inverse">Сохранить</button>
            </div>
        </div>

        <h2>Замечания</h2>
        <table class="table table-striped">
            <tr>
                <th>Пользователь</th>
                <th>Текст</th>
            </tr>
            <tr th:each="c : ${comments}">
                <td th:text="${c.author.name}"></td>
                <td th:text="${c.text}"></td>
            </tr>
        </table>
    </form>

</div>

</body>
</html>